<section>
    <div id="message-input">
        <div class="message textarea" contenteditable="true"></div>
        <button id="send" title="Send"></button>
    </div>
    <div id="message-list">
        <div class="message someone">
            <p class="nickname">Aleks</p>
            <p class="message-text">Messagfse</p>
        </div>
        <div class="message my">
            <p class="nickname">Mymessage</p>
            <p class="message-text">MessagfseMessagfseMessagfseMessagfseMessagfseMessagfseM
                essagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMes
                sagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessa
                gfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseM
                essagfseMessagfseMessagfseMessessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessa
                gfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseM
                essagfseMessagfseMessagfsessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessa
                gfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseM
                essagfseMessagfseMessagfsessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessa
                gfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseM
                essagfseMessagfseMessagfsagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMe
                ssagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagf
                seMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfseM
                essagfseMessagfseMessagfseMessagfseMessagfseMessagfseMessagfse</p>
        </div>
    </div>
</section>