<div class="log-in">
    <div class="form">
        <div class="keys-input">
            <div>
                <form id="keys">
                    <input type="text" class="key" id="user-input" name="username" placeholder="UserName" maxlength="200" autocomplete="on" required>
                    <input type="password" class="key" id="password-input" name="password" placeholder="Password" maxlength="200" required>
                    <input type="text" class="key" id="email-input" name="email" placeholder="Email" maxlength="200" autocomplete="on">
                </form>
            </div>
        </div>
        <div class="button-div">
            <button class="open-button">Log in</button>
            <button class="open-button">Sign in</button>
        </div>
    </div>
</div>